input {
  background-color: whitesmoke;
}

h1,
p,
h3 {
  padding: 20px;
  text-align: center;
}

i {
  font-size: 20px;
}

h4 {
  font-size: 30px;
}

h3 {
  font-size: 50px;
}

.container {
  text-align: center;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.switching-degrees {
  color: black;
  font-size: 15px;
}

.github {
  color: black;
  font-size: 20px;
}

li {
  list-style-type: none;
  text-transform: capitalize;
  font-size: 20px;
}

body {
  background: linear-gradient(to left, #d4f7ee, #ededd0);
}
