h1,
p,
h3 {
  padding: 20px;
  text-align: center;
}

h4 {
  font-size: 30px;
}

h3 {
  font-size: 50px;
}

.container {
  text-align: center;
  font-size: 30px;
  font-family: pattaya;
}

.github {
  color: black;
  font-size: 20px;
}

.switching-degrees {
  color: black;
  font-size: 15px;
}
